<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">

    <div class="cards flex flex-wrap gap-10 ">

        <% user.posts.forEach(function(item){%>

            <div class="card w-52 h-40 rounded-lg">

                <div class="w-full h-40 bg-pink-200 rounded-lg overflow-hidden">
    
                    <img class="w-full h-full object-cover rounded-lg"  alt="" src="/images/uploads/<%= item.image %>">
                </div>
    
                <h2 class="mt-2 text-xl"><%= item.title %><h2>
                    
                 <h4 class=" text-sm">
                    <%= item.description %>
                 </h4>   


    
            </div>
    

        <%})%>




    </div>
</div>

<% include ./partials/footer.ejs %>
